@model IEnumerable<EmployeesBDGifts.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Pick an employee.</h2>

<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="/Vote/VoteOptions?userId=@item.Id"  class="btn btn-primary">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>
