@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>EmployeeBDGifts is a simple web app that allows 
    employees to vote for what is the best present for their colleagues.</p>
