@{
    ViewData["Title"] = "Home Page";
}
<h1>Employee Birthday Gift Selection Tool</h1>

<a href="/Vote" class="btn btn-primary">Vote for best gift</a>
<a href="/DataSeed/SeedData" class="btn btn-primary">Seed Data</a>


